.botaoabrircadastro {
    background-color: dodgerblue;
    color: white;
    padding: 9px 11px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

.botaoabrircadastro:hover {
    opacity: 1;
}

.cadastrofield {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.cadastrofield:focus {
    background-color: #ddd;
    outline: none;
}

.botaocadastro {
    background-color: dodgerblue;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.botaocadastro:hover {
    opacity: 1;
}

.botaocancelar {
    background-color: orangered;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.botaocancelar:hover {
    opacity: 1;
}